<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           $.get('/fe_user/status_check/',function (reply) {
               if(reply.username!='nobody')
               {
                   $('.login_btn').hide();
                   $('.login_info em').html(reply.username);
                   $('.login_info').show();
                   $('.user_link .logout').show();
               }
           });
        });
    </script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="/fe_user/login/">登录</a>
					<span>|</span>
					<a href="/fe_user/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/fe_user/usercenter_info/">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="/fe_user/usercenter_order/">我的订单</a>
            <span class="logout">|</span>
            <a href="/fe_user/logout/" class="logout">注销</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/fe_goods/list1-1-0/" class="fruit">新鲜水果</a></li>
					<li><a href="/fe_goods/list2-1-0/" class="seafood">海鲜水产</a></li>
					<li><a href="/fe_goods/list3-1-0/" class="meet">猪牛羊肉</a></li>
					<li><a href="/fe_goods/list4-1-0/" class="egg">禽类蛋品</a></li>
					<li><a href="/fe_goods/list5-1-0/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/fe_goods/list6-1-0/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/fe_goods/list{{category_id}}-1-0/">
			{{category}}
		</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="/fe_goods/detail-{{newList.0.id}}-{{category_id}}/"><img src="/static/{{ newList.0.pic }}"></a>
						<h4><a href="/fe_goods/detail-{{newList.0.id}}-{{category_id}}/">{{ newList.0.name }}</a></h4>
						<div class="prize">￥{{ newList.0.price }}</div>
					</li>
					<li>
            <a href="/fe_goods/detail-{{newList.1.id}}-{{category_id}}/"><img src="/static/{{ newList.1.pic }}"></a>
            <h4><a href="/fe_goods/detail-{{newList.1.id}}-{{category_id}}/">{{ newList.1.name }}</a></h4>
            <div class="prize">￥{{ newList.1.price }}</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/fe_goods/list{{category_id}}-1-0/" {% if orderIndex == '0' %}class="active"{% endif %}>最新</a>
				<a href="/fe_goods/list{{category_id}}-1-1/" {% if orderIndex == '1' %}class="active"{% endif %}>价格</a>
				<a href="/fe_goods/list{{category_id}}-1-2/" {% if orderIndex == '2' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
          {% for good in myPage %}
              <li>
                  <a href="/fe_goods/detail-{{good.id}}-{{category_id}}/"><img src="/static/{{ good.pic }}"></a>
                  <h4><a href="/fe_goods/detail-{{good.id}}-{{category_id}}/">{{ good.name }}</a></h4>
                  <div class="operate">
                      <span class="prize">￥{{ good.price }}</span>
                      <span class="unit">{{ good.price }}/{{ good.weight }}</span>
                      <a href="#" class="add_goods" title="加入购物车"></a>
                  </div>
              </li>
          {% endfor %}
      </ul>

			<div class="pagenation">
            <a href="/fe_goods/list{{ category_id}}-{% if myPageIndex == 1 %}1{% else %}{{ myPageIndex|add:'-1' }}{% endif %}-{{orderIndex}}/">&lt;上一页</a>
            {% if myPageIndex <= 3 %}
                <a href="/fe_goods/list{{category_id}}-1-{{orderIndex}}/" {% if myPageIndex == 1 %}class="active"{% endif %}>1</a>
                <a href="/fe_goods/list{{category_id}}-2-{{orderIndex}}/" {% if myPageIndex == 2 %}class="active"{% endif %}>2</a>
                <a href="/fe_goods/list{{category_id}}-3-{{orderIndex}}/" {% if myPageIndex == 3 %}class="active"{% endif %}>3</a>
                <a href="/fe_goods/list{{category_id}}-4-{{orderIndex}}/">4</a>
                <a href="/fe_goods/list{{category_id}}-5-{{orderIndex}}/">5</a>
                <span>......</span>
            {% elif myPageIndex > 3 and myPageIndex < myPageNum|add:'-2' %}
                <span>......</span>
                <a href="/fe_goods/list{{category_id}}-{{myPageIndex|add:'-2'}}-{{orderIndex}}/">{{ myPageIndex|add:'-2' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageIndex|add:'-1'}}-{{orderIndex}}/">{{ myPageIndex|add:'-1' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageIndex}}-{{orderIndex}}/" class="active">{{ myPageIndex }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageIndex|add:'1'}}-{{orderIndex}}/">{{ myPageIndex|add:'1' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageIndex|add:'2'}}-{{orderIndex}}/">{{ myPageIndex|add:'2' }}</a>
                <span>......</span>
            {% else %}
                <span>......</span>
                <a href="/fe_goods/list{{category_id}}-{{myPageNum|add:'-4'}}-{{orderIndex}}/">{{ myPageNum|add:'-4' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageNum|add:'-3'}}-{{orderIndex}}/">{{ myPageNum|add:'-3' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageNum|add:'-2'}}-{{orderIndex}}/" {% if myPageIndex == myPageNum|add:'-2' %}class="active"{% endif %}>{{ myPageNum|add:'-2' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageNum|add:'-1'}}-{{orderIndex}}/" {% if myPageIndex == myPageNum|add:'-1' %}class="active"{% endif %}>{{ myPageNum|add:'-1' }}</a>
                <a href="/fe_goods/list{{category_id}}-{{myPageNum}}-{{orderIndex}}/" {% if myPageIndex == myPageNum %}class="active"{% endif %}>{{ myPageNum }}</a>
            {% endif %}
            <a href="/fe_goods/list{{ category_id }}-{% if myPageIndex == myPageNum %}{{ myPageNum }}{% else %}{{ myPageIndex|add:'1' }}{% endif %}-{{orderIndex}}/">下一页&gt;</a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>