<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           $.get('/fe_user/status_check/',function (reply) {
               if(reply.username!='nobody')
               {
                   $('.login_btn').hide();
                   $('.login_info em').html(reply.username);
                   $('.login_info').show();
                   $('.user_link .logout').show();
               }
           });

           $('.order_list_th .stress').each(function () {
              if($(this).text()=='True'){($(this).text('已付款'));}
              else{$(this).text('未支付');}
           });
           $('.order_list_table .stress').each(function () {
               if($(this).text()=='True'){($(this).text('已付款'));$(this).next().children().text('查看物流');}
               else{$(this).text('未支付');$(this).next().children().text('去付款');}
           });

           $('.order_goods_list').each(function () {
               var price=parseFloat($(this).find('.col02 em').text());
               var count=parseInt($(this).find('.col03').text());
               $(this).find('.col04 em').text((price*count).toFixed(2));
           });

           $('.order_list_table').each(function () {
               var total=0;
               $(this).find('.col04 em').each(function () {total+=parseFloat($(this).text());});
               $(this).find('.total666 em').text(total);
           });

        });
    </script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="/fe_user/login/">登录</a>
					<span>|</span>
					<a href="/fe_user/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/fe_user/usercenter_info/">用户中心</a>
					<span>|</span>
					<a href="/fe_cart/cart/">我的购物车</a>
					<span>|</span>
					<a href="/fe_user/usercenter_order/">我的订单</a>
                    <span class="logout">|</span>
                    <a href="/fe_user/logout/" class="logout">注销</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
            <form method="get" action="/search/" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="输入搜索关键词">
                <input type="submit" class="input_btn fr" value="搜索">
            </form>
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/fe_user/usercenter_info/">· 个人信息</a></li>
				<li><a href="/fe_user/usercenter_order/" class="active">· 全部订单</a></li>
				<li><a href="/fe_user/usercenter_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>

            {% for orderSet in packList %}

            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ orderSet.0.tmark }}</li>
                <li class="col02">订单号：{{ orderSet.0.code }}</li>
                <li class="col02 stress">{{ orderSet.0.isdelete }}</li>
            </ul>
            <table class="order_list_table w980">
                <tbody>
                    <tr>
                        <td width="55%">
                            {% for pack in orderSet %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="/static/{{ pack.order.good.pic }}"></li>
                                <li class="col02">{{ pack.order.good.name|truncatechars:14 }}<em>{{ pack.order.good.price }}</em>元/{{ pack.order.good.weight }}</li>
                                <li class="col03">{{ pack.order.count }}</li>
                                <li class="col04"><em></em>元</li>
                            </ul>
                            {% endfor %}
                        </td>
                        <td width="15%" class="total666"><em></em>元</td>
                        <td width="15%" class="stress">{{ orderSet.0.isdelete }}</td>
                        <td width="15%"><a href="/fe_cart/close_account{{ orderSet.0.code }}-{{ orderSet.0.isdelete }}/" class="oper_btn"></a></td>
                    </tr>
                </tbody>
            </table>

            {% endfor %}

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>